<nav class="navbar shadow-sm">
    <span class="navbar-brand mb-1 h1">batchmailr</span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/Account/Logout" class="text-dark">Logout</a>
        </li>
    </ul>
</nav>